/* default page style */
.App {
  background: rgb(216, 216, 216);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: black;
}

.upper-header {
  background: black;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  padding-left: 1rem;
}

.lower-header {
  background: rgb(216, 216, 216);
  width: 100%;
  height: 5rem;
  border-bottom: 1px outset #000000;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 1.7rem;
  width: 1.7rem;
  /* marble texture */
  background-image: url("https://img.icons8.com/ios-glyphs/344/happy-mac.png");
  filter: invert(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle {
  color: rgb(216, 216, 216);
}

.title {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
}

.footer{
  height: 4rem;
  width: 100%;
  border-top: 1px outset #000000;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  position: relative;
}

.text-input{
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background: rgb(216, 216, 216);
  border: 1px solid black;
  color: black;
}

.send{
  /* gold gradient */
  background: rgb(216, 216, 216);
  border: 1px solid rgb(0, 0, 0);
  height: 1.5rem;
  width: 4rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  color: black;
  filter: drop-shadow(0.2rem 0.2rem 0px #000000);
  font-size: 0.8rem;
}

*{
  box-sizing: border-box;
}

/* allows for responsive css, rem */
html{
  font-size: 13px;
}

@media only screen and (min-width: 480px) {
  html{
      font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  html{
      font-size: 19px;
  }
}