.App {
  background: rgb(136, 166, 190);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url("https://cdn3.iconfinder.com/data/icons/3d-applications/512/app_icons_communication_social_media___chat_conversation_messages_message_talk.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.footer{
  height: 4rem;
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

.text-input{
  width: 100%;
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: blue;
  color: black;
}

.send{
  background: white;
  border-radius: 50%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 1.2rem;
  cursor: pointer;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 13px;
}

@media only screen and (min-width: 480px) {
  html{
      font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  html{
      font-size: 19px;
  }
}