/* defines colors as variables for easier modifying */
:root {
  --grey: rgb(180, 180, 180);
  --black: rgb(0, 0, 0);
}

/* default page style */
.App {
  background: var(--grey);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: var(--black);
}

.upper-header {
  background: var(--black);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  padding-left: 1rem;
}

.lower-header {
  background: var(--grey);
  width: 100%;
  height: 5rem;
  border-bottom: 1px outset var(--black);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 1.7rem;
  width: 1.7rem;
  /* marble texture */
  background-image: url("https://img.icons8.com/ios-glyphs/344/happy-mac.png");
  filter: invert(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle {
  color: var(--grey);
}

.title {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  min-height: calc(100vh - 7rem - 7rem);
  max-height: calc(100vh - 7rem - 7rem);
  padding: 1rem;
}



*{
  box-sizing: border-box;
}

/* allows for responsive css, rem */
html{
  font-size: 13px;
}

@media only screen and (min-width: 480px) {
  html{
      font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  html{
      font-size: 19px;
  }
}