.name-field {
  margin: .2rem;
  display: flex;
  align-items: center;
}

.name-input {
  height: 1.2rem;
  width: 30vw;
  max-width: 15rem;
  border: none;
  margin-right: .5rem;
  background: transparent;
  border: 1px solid var(--grey);
  cursor: pointer;
  color: var(--grey);
}

.enter {
  background: transparent;
  border: 1px solid var(--grey);
  right: 2rem;
  cursor: pointer;
  color: var(--grey);
  filter: drop-shadow(0.2rem 0.2rem 0px var(--black));
  font-size: 0.8rem;
}

.username {
  color: var(--grey);
  height: 100%;
  margin-right: 1rem;
}
